{% load static %}

<!--Latest version JQuery-->
<script src="{% static 'js/jquery.min.js' %}"></script>

<!-- Icons other -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<!--Bootstrap js-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!--easing js-->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>

<!--mixitup js-->
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

<!--Owl Carousel js-->
<script src="{% static 'js/owl.carousel.js' %}"></script>

<!--Validator js-->
<script src="{% static 'js/validator.js' %}"></script>

<!--Contact js-->
<script src="{% static 'js/contact.js' %}"></script>


<!--Bootstrap js-->
<script src="{% static 'js/wow.min.js' %}"></script>

<!--Theme js-->
<script src="{% static 'js/main.js' %}"></script>






<!-- {% load static %} -->

<!--Latest version JQuery-->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script> -->

<!--Bootstrap js-->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

<!--easing js-->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script> -->

<!--mixitup js-->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script> -->

<!--Owl Carousel js-->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script> -->

<!--Validator js-->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.10.2/validator.min.js"></script> -->

<!--Contact js-->
<!-- <script src="{% static 'js/contact.js' %}"></script> -->

<!--Bootstrap js-->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script> -->

<!--Theme js-->
<!-- <script src="{% static 'js/main.js' %}"></script> -->
