{% extends 'base.html' %}

{% block content %}

    <div id="home" class="banner-area section-padding">
        <div class="bg-overlay black"></div>
        <div class="containter">
            <div class="row">
                <div class="col-md-12">
                    <div class="welcome-text">
                        <div class="name-area wow fadeInDown" data-wow-delay="0.2s">Hey, I'm Python-Django Developer</div>
                        <h1 class="wow fadeInDown" data-wow-delay="0.4s">Let's create an innovative website with me</h1>
                        <p class="wow fadeInDown" data-wow-delay="0.6s">"Make Your Thoughts Reality"</p>
                        <a href="#contact" class="my-btn-2 wow fadeInDown" data-wow-delay="0.8s">Contact me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    About section#}

    <div id="about" class="about-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sn-8 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="about-left">
                        <h2 class="section-title">About Me</h2>
                        <div class="line"></div>
                        <h4>{{ about.short_description }}</h4>
                        <p>{{ about.description }}</p>
                        <button disabled>Download CV&nbsp;<i class="fa fa-download"></i></button>
                    </div>
                </div>
                <div class="col-md-5 visible-md visible-lg wow fadeInDown" data-wow-delay="0.6s">
                    <div class="profile">
                        <img src="{{ about.image.url }}" alt="Profile image" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    Services Section#}
    <div id="services" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2>Services I offer</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for service in services %}

                    <div class="col-md-4 col-sm-4">
                        <div class="single-service wow fadeInDown" data-wow-delay="0.2s">
                            <i class="icon icon-wallet"></i>
                            <h2>{{ service.name }}</h2>
                            <p>{{ service.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {#    Skills Section#}
    <div id="skills" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2>What are my skills ?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="single-service wow fadeInDown" data-wow-delay="0.2s">
                            <i class="fas fa-keyboard"></i>
                            <h2>64 WPM</h2>
                            <p>My typing speed is 64 wpm</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="single-service wow fadeInDown" data-wow-delay="0.2s">
                            <i class="fas fa-code"></i>
                            <h2>Programming Languages</h2>
                            <p>I have worked with C / C++ / Java / Python</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="single-service wow fadeInDown" data-wow-delay="0.2s">
                            <i class="fas fa-file"></i>
                            <h2>Front End Skills</h2>
                            <p>In front-end skills, I know HTML / CSS / SASS / BOOTSTRAP / JS / JQuery / React / JSON / AJAX</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="single-service wow fadeInDown" data-wow-delay="0.2s">
                            <i class="fas fa-cloud"></i>
                            <h2>Back End Skills</h2>
                            <p>In back-end skills, I have worked with Python / PHP / Python / Django / Flask / Mysql / SQL</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="single-service wow fadeInDown" data-wow-delay="0.2s">
                            <i class="fas fa-laptop"></i>
                            <h2>Operating Systems</h2>
                            <p>I can operate more than 4-5 operating systems, Such as : Windows 98, Windows XP, Windows Vista, Windows 7, Windows 8, Windows 10, Red Hat Linux, Ubuntu Linux, Kali Linux, Linux Mint</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="single-service wow fadeInDown" data-wow-delay="0.2s">
                            <i class="fas fa-briefcase"></i>
                            <h2>Offices</h2>
                            <p>I have worked with Office 2007, Office 2010, Office 2016, Libre Office</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    {#    Recent Works Section#}
    <div id="portfolio" class="portfolio-area section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">
                        <h2>My Websites</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for work in works %}
                    <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                        <div class="gallery-items">
                            <a class="view img" href="{{ work.image.url }}">
                                <img src="{{ work.image.url }}" alt="work image">
                            </a>

                            <div class="gallery-text">
                                <h2>{{ work.title }}</h2>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {#    Contact section#}

    <div class="invitation-area section-padding">
        <div class="container">
            <div class="row">
                <div class="single-invite text-center">
                    <h2>Want to develope any website ?</h2>
                    <p>If you have any websites or project which you want to complete or develope</p>
                    <a href="#contact" class="my-btn-3">Tell Me</a>
                </div>
            </div>
        </div>
    </div>

    <div id="contact" class="contact-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2>Contact Me</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 box-contact-form">

                    <form id="contact-form" method="post" action="#">
                        {% csrf_token %}
                        <div class="messages"></div>

                        <div class="controls">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group wow fadeInDown" data-wow-delay="0.2s">
                                        <input id="form_name" type="text" name="name" class="form-control"
                                               placeholder="Enter your full name(*currently disabled by admin)" required="required"
                                               data-error="Fullname is required." disabled>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group wow fadeInDown" data-wow-delay="0.4s">
                                        <input id="form_email" type="email" name="email" class="form-control"
                                               placeholder="Enter your email(*currently disabled by admin)" required="required"
                                               data-error="Valid email is required." disabled>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group wow fadeInUp" data-wow-delay="0.6s">
                                        <textarea id="form_message" name="message" class="form-control"
                                                  placeholder="Your Message(*currently disabled by admin)" rows="4" required="required"
                                                  data-error="Leave a message for me" disabled></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-send" value="" disabled>Send message</button>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
